<!-- Heredar página base-->
{% extends 'base.html' %}

<!-- Sección que indica que esta sección se insertará en la página base-->
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signup/" method="POST" class="card card-body">
                <h1 class="text-center">SignUp</h1>
        
                {{error}}
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Write your username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1">Password:</label>
                    <input type="password" name="password1" id="password1" placeholder="Write your password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirm your password:</label>
                    <input type="password" name="password2" id="password2" placeholder="Confirm your password" class="form-control">
                </div>        
                <button class="btn btn-primary">
                    Signup
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

